@CHARSET "ISO-8859-1";

$officemenu-font-size: 11px;
$officemenu-icon-size: 32px;
$officemenu-icon-size-small: 16px;
$officemenu-button-width: 60px;
$officemenu-button-height: 70px;

.base-menuitem {
	> .v-button {
		border-color: transparent;
		background: transparent;
		
		&:hover,
		&.down {
			border: 1px solid #F1C43F;
			background: #fdeeb3;
			cursor: pointer;
		}
		
		&:active .v-button-wrap,
		&.v-pressed .v-button-wrap, 
		&.v-button-down .v-button-wrap {
			border: none;
			border-top: 1px solid transparent;
		}
		
		> .v-button-wrap {
			padding: 4px 6px;
			
			> .v-button-caption {
				white-space: normal;
				font-size: $officemenu-font-size;
			}
		}
	}
}

@mixin ribbon-gradient {
	background: #FFF url('rib-back.png') repeat-x bottom;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#eaedf1));
	background: -moz-linear-gradient(#ffffff, #eaedf1);
}

@mixin menutheme {
	.officemenu {
		background-color: #FFF;
		
		> .v-panel {
			margin-top: -1px;
			position: relative;
			z-index: 10;
			
			> .v-panel-content {
				@include ribbon-gradient;
				padding: 3px;
				overflow: hidden;
				min-width: 500px;
			}
		}
		
		.tabcaptions {
			position: relative;
			 
			> .v-button.headerclose {
				position: absolute;
				right: 0;
			}
		}
		
		.v-button.tabcaption {
			margin: 0 2px;
			padding: 2px 15px;
			color: #444;
			background: transparent;
			border: 1px solid transparent;
			-webkit-border-radius: 4px 4px 0px 0px;
			-moz-border-radius: 4px 4px 0px 0px;
			border-radius: 4px 4px 0px 0px;
			position: relative;
			
			> .v-button-wrap {
				display: inline;
				background: transparent;
				padding: 0;
				font-size: $officemenu-font-size;
			}
			
			&:hover {
				background: #f1f3f4;
				border: 1px solid #b6babf;
				border-bottom-color: transparent;
				cursor: pointer;
				z-index: 0;
			}
			
			&.selected {
				background: #fff;
				border: 1px solid #b6babf;
				border-bottom: 1px solid #fff;
				cursor: default;
				z-index: 20;
			}
			
			&.empty {
				background: #2860b3;
				background: -webkit-gradient(linear, 0 0, 0 bottom, from(#4488e5), to(#2860b3));
				background: -moz-linear-gradient(#4488e5, #2860b3);
				border: 1px solid #1f48a1;
				border-bottom: 1px solid #4488e5;
				cursor: default;
				color: #fff;
				text-shadow: rgb(0, 0, 0) 0px 1px 0px;
				
				&:hover {
					background: #3870c3;
					background: -webkit-gradient(linear, 0 0, 0 bottom, from(#5498f5), to(#3870c3));
					background: -moz-linear-gradient(#5498f5, #3870c3);
					border: 1px solid #1f48a1;
					border-bottom-color: transparent;
				}
			}
			
			&:active .v-button-wrap,
			&.v-pressed .v-button-wrap, 
			&.v-button-down .v-button-wrap {
				border: none;
			}
		}
		
		.menuitem {
			@extend .base-menuitem;

			> .v-button {
				width: $officemenu-button-width;
				height: $officemenu-button-height;
				
				img.v-icon {
					width: $officemenu-icon-size;
					display: block;
					margin: auto;
				}
			}
		}
		
		.menusection.grid .menuitem {
			@extend .base-menuitem;

			> .v-button {
				
				height: auto;
				
				img.v-icon {
					width: $officemenu-icon-size-small;
					display: inline;
					margin: 2px;
					
					position: absolute;
					left: 2px;
				}
			}
			
			.v-button-caption {
				
				float: right;
				line-height: 20px;
			}
			
			.v-button-wrap {
				background-image: none;
			}
		}

		.v-slot-menusection {
			border-right: 1px solid #CCC;
			border-left: 1px solid rgba(255,255,255,0.8);
		
			 > .v-has-caption {
				position: relative;
			}
		}
		.v-slot-menusection.v-slot-first {
			border-left: none;
		}

		.menusection {
			padding-bottom: 20px;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			margin: 0 5px;
			height: 90px;
		}
		
		.v-button-link .v-button-wrap,
		.v-button-borderless .v-button-wrap {
			display: block;
		}
		
		.v-caption-menusection {
			position: absolute;
			bottom: 0;
			text-align: center;
			width: 100%;
			color: #5B626C;
			font-size: $officemenu-font-size;
		}
		
		.menuitem.hassubitems .v-button-caption .downarrow {
			
			height: 16px;
			width: 16px;
			
			position: absolute;
			right: 5px;
			bottom: 21px;
			
			background-image: url("images/bullet_arrow_down.png");
		}
		
		.menuitem.hassubitems .v-button:active .downarrow,
		.menuitem.hassubitems .v-button.down .downarrow {
			bottom: 20px;
		}
	}	
}

.h-popupextension {
	@include ribbon-gradient;
	border: 1px solid #b3b3b3;
	padding: 0 !important;
	
	.v-layout .menuitem {
		@extend .base-menuitem;
		display: block;
		width: 100%;
		
		> .v-button {
			width: 100%;
			
			.v-icon {
				margin: -1px 3px 0 -3px;
			}
			
			.v-button-caption:first-child {
				margin-left: 16px;
			}
		}
	}
}
