@CHARSET "ISO-8859-1";

$officemenu-icon-size: 32px;
$officemenu-button-width: 58px;
$officemenu-button-height: 68px;

@mixin menutheme {
	.officemenu {
		background-color: #FFF;
		
		.v-button.tabcaption {
			background-color: rgb(245, 245, 245);
		}
		
		.menuitem {
			img.v-icon {
				width: $officemenu-icon-size;
				display: block;
				margin: auto;
			}
			
			> .v-button {
				width: $officemenu-button-width;
				height: $officemenu-button-height;
				border-color: transparent;
				background: transparent;
				
				&:hover {
					border: 1px solid #F1C43F;
					background: #fdeeb3;
					cursor: pointer;
				}
				
				&:active > .v-button-wrap {
					border: none;
					border-top: 1px solid transparent;
				}
				
				> .v-button-wrap {
					padding: 0;
					
					> .v-button-caption {
						white-space: normal;
					}
				}
				
				&.down > .v-button-wrap {
					background-color: yellow;
				}
			}
		}

		.v-slot-menusection > div {
			position: relative;
		}
		
		.menusection {
			padding-bottom: 20px;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}
		
		.v-button-link .v-button-wrap,
		.v-button-borderless .v-button-wrap {
			display: block;
		}
		
		.v-caption-menusection {
			position: absolute;
			bottom: 0;
			text-align: center;
			width: 100%;
		}
		
		.v-slot-menusection {
			border-right: 1px solid #AAA;
		}
	}
}