@CHARSET "ISO-8859-1";

$officemenu-font-size: 11px;
$officemenu-icon-size: 32px;
$officemenu-icon-size-small: auto;
$officemenu-button-width: 60px;
$officemenu-button-onerow-width: 100px;
$officemenu-button-height: 64px;

.base-menuitem {
	> .v-button {
		border-color: transparent;
		background: transparent;
		
		&:hover,
		&.down {
			border: 1px solid #F1C43F;
			background: #fdeeb3;
			cursor: pointer;
		}
		
		&:active .v-button-wrap,
		&.v-pressed .v-button-wrap, 
		&.v-button-down .v-button-wrap {
			border: none;
			border-top: 1px solid transparent;
		}
		
		> .v-button-wrap {
			padding: 2px 6px;
			
			> .v-button-caption {
				white-space: normal;
				font-size: $officemenu-font-size;
			}
		}
	}
}

@mixin ribbon-gradient {
	background: #FFF url('rib-back.png') repeat-x bottom;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#eaedf1));
	background: -moz-linear-gradient(#ffffff, #eaedf1);
}

@mixin menutheme {
	.officemenu {
		background-color: #FFF;
		
		> .v-panel {
			margin-top: -1px;
			position: relative;
			z-index: 10;
			
			> .v-panel-content {
				@include ribbon-gradient;
				padding-top: 3px;
				padding-left: 1px;
				padding-right: 1px;
				padding-bottom: 1px;
				overflow: hidden;
				min-width: 500px;
			}
		}
		
		.tabcaptions {
			position: relative;
			 
			> .v-button.headerclose {
				position: absolute;
				right: 0;
			}
		}
		
		.v-button.tabcaption {
			margin: 0 2px;
			padding: 2px 15px;
			color: #444;
			background: transparent;
			border: 1px solid transparent;
			-webkit-border-radius: 4px 4px 0px 0px;
			-moz-border-radius: 4px 4px 0px 0px;
			border-radius: 4px 4px 0px 0px;
			position: relative;
			
			> .v-button-wrap {
				display: inline;
				background: transparent;
				padding: 0;
				font-size: $officemenu-font-size;
			}
			
			&:hover {
				background: #f1f3f4;
				border: 1px solid #b6babf;
				border-bottom-color: transparent;
				cursor: pointer;
				z-index: 0;
			}
			
			&.selected {
				background: #fff;
				border: 1px solid #b6babf;
				border-bottom: 1px solid #fff;
				cursor: default;
				z-index: 20;
			}
			
			&.empty {
			
				background: #2860b3;
				background: -webkit-gradient(linear, 0 0, 0 bottom, from(#4488e5), to(#2860b3));
				background: -moz-linear-gradient(#4488e5, #2860b3);
				
					background: #35a199; /* Old browsers */
	background: -moz-linear-gradient(top, #35a199 0%, #44d3bf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#35a199), color-stop(100%,#44d3bf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #35a199 0%,#44d3bf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #35a199 0%,#44d3bf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #35a199 0%,#44d3bf 100%); /* IE10+ */
	/* background: linear-gradient(to bottom, #35a199 0%,#44d3bf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35a199', endColorstr='#44d3bf',GradientType=0 ); /* IE6-9 */
	
	border: 1px solid #319797;
	border-bottom: 1px solid #42DCC5;
	cursor: default;
	color: #fff;
	text-shadow: rgb(0, 0, 0) 0px 1px 0px;
				
				
				&:hover {
					background: #3870c3;
					background: -webkit-gradient(linear, 0 0, 0 bottom, from(#5498f5), to(#3870c3));
					background: -moz-linear-gradient(#5498f5, #3870c3);
					
					background: #44b0a8; /* Old browsers */
					background: -moz-linear-gradient(top, #44b0a8 0%, #53e2ce 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#44b0a8), color-stop(100%,#53e2ce)); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top, #44b0a8 0%,#53e2ce 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top, #44b0a8 0%,#53e2ce 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top, #44b0a8 0%,#53e2ce 100%); /* IE10+ */
					/* background: linear-gradient(to bottom, #44b0a8 0%,#53e2ce 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44b0a8', endColorstr='#53e2ce',GradientType=0 ); /* IE6-9 */
					
					cursor: pointer;

				}
			}
			
			&:active .v-button-wrap,
			&.v-pressed .v-button-wrap, 
			&.v-button-down .v-button-wrap {
				border: none;
			}
		}
		
		.menuitem {
			@extend .base-menuitem;

			> .v-button {
				width: $officemenu-button-width;
				height: $officemenu-button-height;
				
				.v-button-caption {
					display: inline-block;
					line-height: 14px;
				}
				
				img.v-icon {
					width: $officemenu-icon-size;
					display: block;
					margin: auto;
				}
			}
		}
		
		.menusection.grid .menuitem.onerow {

			> .v-button {
				
				width: $officemenu-button-onerow-width;
				height: 31px;
				margin-top: 0px;
				
				img.v-icon {
					width: $officemenu-icon-size-small;
					display: inline;
					margin-top: 0px;
					
					position: absolute;
					left: 7px;
				}
			}
			
			.v-button-caption {
				
				line-height: 25px;
				white-space:nowrap;
			}
			
			.v-button-wrap {
				background-image: none;
				text-align: left !important;
				padding-left: 33px;
				
				
			}
			
		}
			
		.menusection.grid .menuitem.onerow.hassubitems .v-button-wrap {
			background-image: url("images/bullet_arrow_down.png");
			padding-right: 11px;
			background-repeat: no-repeat;
			background-position-x: 85px;
			background-position-y: 7px;
			}
		
		.v-slot-menusection {
			
			background-image: url("images/separator-gradient.png");
			background-repeat: no-repeat;
			background-position: right;
		
			 > .v-has-caption {
				position: relative;
			}
		}
		.v-slot-menusection.v-slot-first {
			border-left: none;
		}

		.menusection {
			padding-bottom: 20px;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			margin: 0 5px;
			height: 80px;
		}
		
		.v-button-link .v-button-wrap,
		.v-button-borderless .v-button-wrap {
			display: block;
		}
		
		.v-caption-menusection {
			position: absolute;
			bottom: 0;
			text-align: center;
			width: 100%;
			color: rgba(91, 98, 108, 0.7);
			font-size: $officemenu-font-size;
		}
		
		.menuitem.hassubitems.multirow .v-button-caption .downarrow {
			
			height: 16px;
			width: 16px;
			
			position: absolute;
			right: 5px;
			bottom: 16px;
			
			background-image: url("images/bullet_arrow_down.png");
		}
		.menuitem.hassubitems.multirow .v-button:active .downarrow,
		.menuitem.hassubitems.multirow .v-button.down .downarrow {
			bottom: 15px;
		}
		
		.grid .menuitem.hassubitems.multirow .v-button-caption .downarrow {
			right: 0px;
			bottom: 1px;
		}
		
		.grid .menuitem.hassubitems.multirow .v-button:active .downarrow,
		.grid .menuitem.hassubitems.multirow .v-button.down .downarrow {
			bottom: 0px;
		}
	}	
}

.h-popupextension {
	@include ribbon-gradient;
	border: 1px solid #b3b3b3;
	padding: 0 !important;
	
	.v-layout .menuitem {
		@extend .base-menuitem;
		display: block;
		width: 100%;
		
		> .v-button {
			width: 100%;
			
			.v-icon {
				margin: -1px 3px 0 -3px;
			}
			
			.v-button-caption:first-child {
				margin-left: 16px;
			}
		}
	}
}

.filemenu {
 
	background: #35a199; /* Old browsers */
	background: -moz-linear-gradient(top, #35a199 0%, #44d3bf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#35a199), color-stop(100%,#44d3bf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #35a199 0%,#44d3bf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #35a199 0%,#44d3bf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #35a199 0%,#44d3bf 100%); /* IE10+ */
	/* background: linear-gradient(to bottom, #35a199 0%,#44d3bf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35a199', endColorstr='#44d3bf',GradientType=0 ); /* IE6-9 */
	
	border: 1px solid #319797;
	border-bottom: 1px solid #42DCC5;
	cursor: default;
	color: #fff;
	/* text-shadow: rgb(0, 0, 0) 0px 1px 0px; */
	line-height: 45px;
	padding-left: 20px;
	
	height: 50px;
	position: relative;
	
	.arrow-right {
		width: 0; 
		height: 0; 
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
	
		border-right: 10px solid white;
		
		position: absolute;
		right: -1px;
		top: 13px;
	}
	
	.arrow-bg {
		width: 0; 
		height: 0; 
		border-top: 11px solid transparent;
		border-bottom: 11px solid transparent;
	
		border-right: 11px solid #319797;
		
		position: absolute;
		right: -1px;
		top: 12px;
	}
}
