@CHARSET "ISO-8859-1";

@IMPORT url("../reindeer/legacy-styles.css");

.officemenu {
	background-color: #FFF;
}

.officemenu .menuitem img {
	display: block;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.officemenu .menuitem .v-button-caption {
	display: inline-block;
	text-align: center;
	width: 100%;
	
	overflow: hidden;
}

.officemenu .v-slot-menusection > div {
	position: relative;
}

.officemenu .v-caption-menusection {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
}

.officemenu .v-slot-menusection {
	border-right: 1px solid #AAA;
}

.officemenu .menuitem .v-button-wrap {
	padding-bottom: 5px;
	border-radius: 5px;
	margin: 3px;
}
.officemenu .menuitem .v-button-wrap:hover {
	background-color: rgba(0,0,0,0.2);
}