@CHARSET "ISO-8859-1";


	$menu-gradient-top: #ff9706;
	$menu-gradient-bottom: #e67e00;
	$menu-gradient-top-hover: #FFBF2E;
	
@mixin button-effects {

	background-color: #EEF1F4;
	padding-left: auto;
	
	.tabcaption,
	.open {
		background: none;
		border: 1px solid transparent;
		
		.v-button-wrap {
					
			border: none;
			background: none;
		}
	}
	
	.tabcaption:hover,
	.tabcaption.selected {
	
		border: 1px solid #F1C43F;
		background: #fdeeb3;
	}

}	

@mixin invertedtabsheet {
	
	.invertedtabsheet {
	
		.tabcaptions {
		
		
			border-top: 1px solid #CCC;
			@include button-effects;
			
			.tabcaption,
			.open {
				
				margin: 2px;
				float: right;
				
				height: auto;
				width: auto;
				
				.v-button-wrap {
					
					padding: 2px;
					width: 16px;
					height: 16px;
				
					img {
						display: block;
						margin: 0;
					}
				}
				.v-button-caption {
						display: none;
				}
			}
			
		}
	
	}
	
	.h-popupextension.tabsheet {
		border-top:none;
		
		margin-left: 3px !important;
		margin-top: -96px !important;
		
		border: 1px solid #CCC;
		background: none;
		background-color: #EEF1F4;
	}
	
	.tabsheetpopup {

		border: none;
		background:none;
		
		margin-left: 25px;
		border-left: 1px solid #CCC;
		border-top:none;
		
		@include button-effects;
	
		.v-button {
			display: block;
				border-radius: 0;
			
			.v-button-wrap {
				padding: 2px 5px;
				float: left;
				
				img {
					position: absolute;
					left: 10px;
					padding-top: 2px;
				}
				
				.v-button-caption {
					vertical-align: middle;
				}
			}
		}
	}	
}
